<a href="https://colab.research.google.com/github/nurefsanoztekin/datan/blob/main/D%C4%B0YABET_HASTALI%C4%9EI_3_HAFTA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/nurefsanoztekin/datan/main/Dataset%20of%20Diabetes%20.csv")
data

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [7]:
iris = pd.read_csv("https://raw.githubusercontent.com/nurefsanoztekin/datan/main/Dataset%20of%20Diabetes%20.csv",
                   names= ["ID","No_Pation","Gender", "AGE", "Urea", "Cr","HbA1c","Chol", "TG","HDL","LDL","VLDL","BMI", "Class"], header=0)

In [8]:
iris

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [9]:
iris.head(12)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N
5,634,34224,F,45,2.3,24,4.0,2.9,1.0,1.0,1.5,0.4,21.0,N
6,721,34225,F,50,2.0,50,4.0,3.6,1.3,0.9,2.1,0.6,24.0,N
7,421,34227,M,48,4.7,47,4.0,2.9,0.8,0.9,1.6,0.4,24.0,N
8,670,34229,M,43,2.6,67,4.0,3.8,0.9,2.4,3.7,1.0,21.0,N
9,759,34230,F,32,3.6,28,4.0,3.8,2.0,2.4,3.8,1.0,24.0,N
10,636,34231,F,31,4.4,55,4.2,3.6,0.7,1.7,1.6,0.3,23.0,N
11,788,34232,F,33,3.3,53,4.0,4.0,1.1,0.9,2.7,1.0,21.0,N

In [10]:
iris.tail(12)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
988,192,454316,M,55,4.8,88,11.1,5.7,4.0,0.9,3.3,1.8,30.0,Y
989,193,454316,M,62,6.3,82,6.7,5.3,2.0,1.0,3.5,0.9,30.1,Y
990,194,454316,F,57,4.1,70,9.3,5.3,3.3,1.0,1.4,1.3,29.0,Y
991,195,4543,f,55,4.1,34,13.9,5.4,1.6,1.6,3.1,0.7,33.0,Y
992,196,454316,M,55,3.1,39,8.5,5.0,2.5,1.9,2.9,0.7,27.0,Y
993,198,454316,M,28,3.5,61,8.5,4.5,1.9,1.1,2.6,0.8,37.0,Y
994,199,454316,M,69,10.3,185,7.7,4.9,1.9,1.2,3.0,0.7,37.0,Y
995,200,454317,M,71,11.0,97,7.0,7.5,1.7,1.2,1.8,0.6,30.0,Y
996,671,876534,M,31,3.0,60,12.3,4.1,2.2,0.7,2.4,15.4,37.2,Y
997,669,87654,M,30,7.1,81,6.7,4.1,1.1,1.2,2.4,8.1,27.4,Y
998,99,24004,M,38,5.8,59,6.7,5.3,2.0,1.6,2.9,14.0,40.5,Y
999,248,24054,M,54,5.0,67,6.9,3.8,1.7,1.1,3.0,0.7,33.0,Y

In [12]:
iris.sample(15)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
460,111,24008,F,58,5.0,62,9.3,5.8,3.6,1.1,1.90,0.6,31.0,Y
989,193,454316,M,62,6.3,82,6.7,5.3,2.0,1.0,3.50,0.9,30.1,Y
660,360,34479,F,54,3.7,38,11.6,4.7,4.0,0.8,2.30,1.8,38.0,Y
942,117,865754,F,61,3.8,32,10.3,3.4,0.8,1.4,1.60,0.8,32.0,Y
962,155,45376,F,35,5.0,79,7.3,6.2,2.0,1.4,0.90,1.3,27.0,Y
431,549,34366,M,53,5.6,72,9.0,8.8,4.3,1.5,3.50,1.2,29.0,Y
103,472,463,M,34,3.9,81,6.0,6.2,3.9,0.8,1.90,1.8,23.0,P
736,130,32171,F,55,4.7,34,9.9,5.1,4.5,0.6,2.70,2.0,34.0,Y
645,93,24002,M,59,4.0,56,10.0,4.9,2.1,1.1,2.50,0.9,28.0,Y
773,786,34533,M,51,5.3,49,10.5,5.6,5.5,0.7,2.60,2.0,31.0,Y
737,349,39807,F,58,2.7,39,10.1,6.3,2.4,1.4,3.80,1.1,30.0,Y
616,23,26062,F,70,5.5,38,8.7,5.9,1.3,1.4,0.75,0.6,30.0,Y
183,108,24007,M,38,4.0,67,10.2,5.2,2.0,1.1,3.20,14.0,47.0,Y
158,24,23979,M,45,4.1,63,10.2,4.8,1.3,0.9,3.30,9.5,34.3,Y
504,512,20098,M,51,4.9,56,7.7,3.0,0.3,1.3,1.50,0.1,30.0,Y

In [16]:
iris.shape

(1000, 14)

In [14]:
print("Satır:", iris.shape[0], '\t', "Sütun:", iris.shape[1])

Satır: 1000 	 Sütun: 14

In [15]:
iris.columns

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'Class'],
      dtype='object')

In [17]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  Class      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [18]:
iris.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [22]:
df = pd.read_csv("https://raw.githubusercontent.com/nurefsanoztekin/datan/main/Dataset%20of%20Diabetes%20.csv")
df.sample(12)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
171,231,14389,F,50,4.0,56,13.7,4.4,2.0,1.0,2.5,0.9,29.00,Y
245,622,9423,M,55,5.0,76,10.2,5.6,4.6,0.8,2.9,31.8,33.90,Y
93,165,45412,F,77,5.0,106,5.4,3.9,2.1,1.2,4.2,1.1,24.00,N
973,170,45395,M,50,4.8,70,8.0,5.2,2.7,1.4,2.7,1.2,20.00,Y
852,8,79133,M,55,5.8,60,9.0,4.6,1.9,1.2,2.6,0.8,30.00,Y
586,695,34452,F,60,3.8,34,8.3,4.3,3.0,1.4,2.5,2.0,32.00,Y
993,198,454316,M,28,3.5,61,8.5,4.5,1.9,1.1,2.6,0.8,37.00,Y
971,168,45371,M,30,5.0,53,7.7,5.5,2.1,1.0,3.6,0.9,24.00,Y
90,154,45369,M,30,5.5,79,5.6,3.9,1.6,0.9,3.3,0.8,24.50,N
763,457,48312,M,51,3.3,41,13.9,6.0,1.1,1.4,1.3,0.4,27.17,Y
375,526,5677,F,68,5.7,71,7.0,5.0,1.7,0.8,3.5,0.8,36.60,Y
438,238,344454,M,60,4.0,63,12.0,3.6,5.1,0.9,2.5,0.9,30.00,Y

In [23]:
print("Satır:", df.shape[0], '\t', "Sütun:", df.shape[1])
print(df.columns)

Satır: 1000 	 Sütun: 14
Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS'],
      dtype='object')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [25]:
df.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [29]:
df["AGE"].value_counts()

55    181
60     88
54     84
51     51
61     49
56     48
52     44
50     43
59     32
57     31
58     30
63     29
53     25
30     20
49     19
45     16
33     16
40     13
44     13
35     11
66     11
47     10
42     10
48     10
31      9
39      9
68      8
62      8
73      8
43      8
64      7
69      6
67      6
38      6
41      5
34      5
36      4
76      4
77      4
28      3
46      3
26      2
70      2
65      2
75      2
25      1
79      1
32      1
20      1
71      1
Name: AGE, dtype: int64

In [30]:
for i in (df.columns):
    print(i)
    print(df[i].value_counts())
    print("\n")

ID
76     2
108    2
57     2
26     2
69     2
      ..
353    1
356    1
488    1
508    1
248    1
Name: ID, Length: 800, dtype: int64


No_Pation
454316    19
856        2
87654      2
71741      2
34290      2
          ..
34342      1
3275       1
34343      1
23973      1
24054      1
Name: No_Pation, Length: 961, dtype: int64


Gender
M    565
F    434
f      1
Name: Gender, dtype: int64


AGE
55    181
60     88
54     84
51     51
61     49
56     48
52     44
50     43
59     32
57     31
58     30
63     29
53     25
30     20
49     19
45     16
33     16
40     13
44     13
35     11
66     11
47     10
42     10
48     10
31      9
39      9
68      8
62      8
73      8
43      8
64      7
69      6
67      6
38      6
41      5
34      5
36      4
76      4
77      4
28      3
46      3
26      2
70      2
65      2
75      2
25      1
79      1
32      1
20      1
71      1
Name: AGE, dtype: int64


Urea
4.300     40
4.000     37
5.000     36
4.800     34
4.100     33
          ..
13.300     1
13.500     1
6.833      1
0.500      1
8.900      1
Name: Urea, Length: 110, dtype: int64


Cr
56     55
72     32
55     30
63     27
53     27
       ..
6       1
130     1
112     1
145     1
107     1
Name: Cr, Length: 113, dtype: int64


HbA1c
8.00     34
9.00     32
7.00     32
4.00     30
6.80     30
         ..
4.70      1
12.90     1
2.00      1
6.60      1
9.96      1
Name: HbA1c, Length: 111, dtype: int64


Chol
4.40     55
4.90     46
4.80     40
4.00     38
5.30     38
         ..
9.10      1
10.30     1
9.30      1
0.00      1
6.12      1
Name: Chol, Length: 77, dtype: int64


TG
2.1     65
2.0     61
1.3     52
1.5     51
1.7     44
        ..
12.7     1
0.5      1
6.3      1
13.8     1
5.7      1
Name: TG, Length: 69, dtype: int64


HDL
1.10    147
0.90    141
1.00    135
0.80     84
1.30     80
1.20     71
0.70     57
1.40     54
1.60     40
1.80     31
0.60     24
1.70     22
1.50     20
1.90     13
2.40      8
0.50      7
0.40      7
2.30      7
2.00      4
2.50      4
1.35      3
3.20      3
3.10      3
0.75      3
2.10      3
3.60      2
1.95      2
6.60      2
1.08      2
1.45      2
1.03      2
3.80      1
9.00      1
5.00      1
9.90      1
1.73      1
1.85      1
3.40      1
0.20      1
2.80      1
2.60      1
3.90      1
1.05      1
4.00      1
1.75      1
0.95      1
6.30      1
2.20      1
Name: HDL, dtype: int64


LDL
2.50    87
2.00    55
1.70    40
1.40    37
3.10    37
        ..
2.04     1
6.40     1
0.96     1
0.30     1
5.30     1
Name: LDL, Length: 65, dtype: int64


VLDL
0.9     132
0.7      94
0.6      80
0.8      76
1.0      71
1.5      63
0.5      55
1.1      54
1.3      44
0.4      37
2.0      36
1.4      34
1.2      33
1.7      26
0.3      26
1.6      21
1.8      11
14.0      8
1.9       8
12.7      6
2.2       5
0.2       5
3.1       5
8.1       5
2.4       4
10.4      4
13.1      4
2.1       4
15.4      3
2.6       3
3.5       2
2.8       2
2.5       2
11.3      2
3.0       2
22.2      2
0.1       2
7.2       2
31.8      2
14.5      2
10.0      2
12.2      2
9.5       2
5.0       1
9.0       1
3.4       1
5.8       1
27.2      1
24.5      1
6.3       1
7.0       1
22.7      1
18.1      1
19.5      1
33.6      1
16.3      1
4.1       1
31.0      1
35.0      1
5.2       1
Name: VLDL, dtype: int64


BMI
30.0    114
33.0    101
29.0     72
26.0     64
24.0     58
       ...
34.5      1
22.5      1
19.5      1
24.6      1
25.6      1
Name: BMI, Length: 64, dtype: int64


CLASS
Y     840
N     102
P      53
Y       4
N       1
Name: CLASS, dtype: int64