<a href="https://colab.research.google.com/github/nurefsanoztekin/datan/blob/main/D%C4%B0YABET_HASTALI%C4%9EI_4_HAFTA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Kütüphanelerin Çağırılması
import numpy as np
import pandas as pd

import seaborn as sns
sns.set()

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
features = ["ID","No_Pation","Gender", "AGE", "Urea", "Cr","HbA1c","Chol", "TG","HDL","LDL","VLDL","BMI", "Class"] 

MHR = pd.read_csv("https://raw.githubusercontent.com/nurefsanoztekin/datan/main/Dataset%20of%20Diabetes%20.csv", names= features, header=0)
MHR.sample(8)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
541,2,44835,M,60,2.1,56,7.6,3.3,1.7,0.9,1.7,0.8,36.6,Y
374,430,34352,M,59,14.0,65,6.2,4.6,1.3,0.9,3.1,0.6,30.0,Y
498,381,32336,M,58,5.9,61,8.0,4.3,2.4,0.9,2.0,1.1,29.0,Y
897,61,65456,F,61,8.1,72,16.0,7.7,3.1,1.6,4.9,1.4,26.0,Y
557,522,2567,M,55,3.2,49,6.7,4.6,1.2,1.3,2.8,0.5,30.2,Y
391,410,24108,F,54,4.3,44,7.6,5.4,2.0,1.0,3.5,0.9,27.3,Y
333,423,825,F,51,4.3,53,6.1,2.8,2.0,1.2,0.8,0.9,33.0,Y
189,698,87665,M,30,4.8,80,5.5,5.5,1.8,1.2,3.5,0.8,25.0,Y

In [3]:
print("Satır:", MHR.shape[0], '\t', "Sütun:", MHR.shape[1])
print("\n")
print(MHR.columns)

Satır: 1000 	 Sütun: 14


Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI', 'Class'],
      dtype='object')

In [4]:
MHR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  Class      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [5]:
MHR.sample(10)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
180,744,34284,F,49,3.80,56,5.1,6.0,3.50,1.1,3.5,1.6,25.00,Y
922,93,415787,F,55,4.30,56,7.0,3.8,2.60,1.0,2.1,1.6,30.00,Y
915,84,7147,F,60,8.50,92,6.8,2.1,2.30,0.9,2.8,1.2,30.00,Y
56,174,34264,F,49,2.30,52,5.0,3.1,1.30,1.0,2.5,0.7,22.00,N
357,100,8109,F,56,2.30,36,10.2,4.8,1.00,1.4,2.9,0.4,30.00,Y
735,711,34512,F,55,5.70,86,9.3,5.3,2.70,1.0,3.2,1.2,32.00,Y
510,394,34408,M,56,5.90,68,8.0,5.1,2.50,0.7,3.4,1.1,26.00,Y
805,689,34554,M,55,5.10,39,15.9,4.2,1.20,1.4,3.0,2.0,38.00,Y
67,47,789566,F,42,2.10,45,4.9,3.0,1.10,1.1,1.4,1.4,21.00,N
371,380,24098,M,55,4.66,95,7.0,5.3,2.03,1.2,3.2,14.0,29.36,Y

In [7]:
MHR[["AGE", "Class"]]

     AGE Class
0     50     N
1     26     N
2     50     N
3     50     N
4     33     N
..   ...   ...
995   71     Y
996   31    Y
997   30    Y
998   38    Y
999   54    Y

[1000 rows x 2 columns]

In [8]:
MHR["Class"].value_counts()

Y     840
N     102
P      53
Y       4
N       1
Name: Class, dtype: int64

In [9]:
# replace() : verileri değiştirmek için kullanırız.
MHR = MHR.replace({'Class': {"low risk": 0, "mid risk": 1, "high risk":2}})
MHR.sample(8)

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Class
670,291,43604,F,59,4.8,45,10.6,5.2,2.6,1.4,1.7,1.2,30.0,Y
835,760,34573,M,55,7.1,72,12.2,6.9,4.5,1.3,1.4,1.0,26.0,Y
291,269,24061,F,66,3.2,46,8.5,4.2,1.0,1.4,2.4,0.4,26.0,Y
339,6,23973,F,61,5.1,72,11.5,4.4,2.1,1.1,2.5,0.9,26.0,Y
305,91,46374,M,55,3.7,93,7.2,3.2,1.9,0.6,1.8,0.8,30.0,Y
541,2,44835,M,60,2.1,56,7.6,3.3,1.7,0.9,1.7,0.8,36.6,Y
684,506,34304,M,60,4.2,39,8.8,4.5,2.2,0.8,1.4,1.1,34.0,Y
179,674,34283,M,49,3.9,65,5.2,5.1,1.7,3.9,0.8,1.6,24.0,Y

In [10]:
MHR.describe()

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,340.500000,2.705514e+05,53.528000,5.124743,68.943000,8.281160,4.862820,2.349610,1.204750,2.609790,1.854700,29.578020
std,240.397673,3.380758e+06,8.799241,2.935165,59.984747,2.534003,1.301738,1.401176,0.660414,1.115102,3.663599,4.962388
min,1.000000,1.230000e+02,20.000000,0.500000,6.000000,0.900000,0.000000,0.300000,0.200000,0.300000,0.100000,19.000000
25%,125.750000,2.406375e+04,51.000000,3.700000,48.000000,6.500000,4.000000,1.500000,0.900000,1.800000,0.700000,26.000000
50%,300.500000,3.439550e+04,55.000000,4.600000,60.000000,8.000000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000
75%,550.250000,4.538425e+04,59.000000,5.700000,73.000000,10.200000,5.600000,2.900000,1.300000,3.300000,1.500000,33.000000
max,800.000000,7.543566e+07,79.000000,38.900000,800.000000,16.000000,10.300000,13.800000,9.900000,9.900000,35.000000,47.750000

In [11]:
MHR.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,1000.0,340.500000,2.403977e+02,1.0,125.75,300.5,550.25,800.00
No_Pation,1000.0,270551.408000,3.380758e+06,123.0,24063.75,34395.5,45384.25,75435657.00
AGE,1000.0,53.528000,8.799241e+00,20.0,51.00,55.0,59.00,79.00
Urea,1000.0,5.124743,2.935165e+00,0.5,3.70,4.6,5.70,38.90
Cr,1000.0,68.943000,5.998475e+01,6.0,48.00,60.0,73.00,800.00
HbA1c,1000.0,8.281160,2.534003e+00,0.9,6.50,8.0,10.20,16.00
Chol,1000.0,4.862820,1.301738e+00,0.0,4.00,4.8,5.60,10.30
TG,1000.0,2.349610,1.401176e+00,0.3,1.50,2.0,2.90,13.80
HDL,1000.0,1.204750,6.604136e-01,0.2,0.90,1.1,1.30,9.90
LDL,1000.0,2.609790,1.115102e+00,0.3,1.80,2.5,3.30,9.90
VLDL,1000.0,1.854700,3.663599e+00,0.1,0.70,0.9,1.50,35.00
BMI,1000.0,29.578020,4.962388e+00,19.0,26.00,30.0,33.00,47.75